@import'../../styles/styles.scss';


.channel_icon_tooltips {
    background-color: #606060;
    font-size       : 11px;
    font-weight     : 200;
    padding         : 8px;
}

.page_container {

    .browse_results_renderer {
        display        : flex;
        justify-content: flex-start;

        .primary {
            flex         : 1;
            padding-top  : 24px;
            margin-left  : 24px;
            padding-right: 24px;

            .primary_inner {

                .player {
                    min-width  : 360px;
                    padding-top: 56.25%;
                }

                .below {
                    margin-top   : 12px;
                    margin-bottom: 24px;

                    .watch_metadata {
                        .title {
                            .formatted_string {}

                        }

                        .top_row {
                            .owner {
                                flex        : 1;
                                margin-top  : 8px;
                                margin-right: 12px;

                                .byline_container {
                                    .avatar_link {
                                        margin: 0px 12px 0 0;

                                        .avatar {
                                            background-color: $--yt-spec-10-percent-layer;

                                            .avatar_img {}
                                        }
                                    }

                                    .info {
                                        margin-right: 24px;
                                    }

                                    .subscribe_btn {
                                        background-color: #0f0f0f;
                                        border-radius   : 100px;
                                        height          : fit-content;

                                        &:hover {
                                            background-color: #272727;
                                        }
                                    }
                                }
                            }

                            .actions {
                                flex           : 1;
                                justify-content: flex-end;
                                margin-top     : 8px;

                                .actions_inner {
                                    gap: 16px;
                                }
                            }
                        }

                        .bottom_row {
                            .description {
                                margin-right : 12px;
                                margin-top   : 12px;
                                background   : $--yt-spec-badge-chip-background;
                                border-radius: 12px;
                                padding      : 12px;

                                .description_inner {

                                    .info_container {
                                        .infor {
                                            .formatted_string {}

                                        }
                                    }

                                    .description_inline_expander {

                                        .snippet_expand {
                                            .snippet_text {
                                                white-space: pre-wrap;
                                            }
                                        }

                                        .expand {}
                                    }

                                    .description_inline_expander {

                                        .snippet {
                                            overflow  : hidden;
                                            max-height: 6rem;

                                            .snippet_text {
                                                white-space: pre-wrap;
                                            }
                                        }

                                        .expand {}
                                    }
                                }
                            }
                        }

                    }

                    .comments {}
                }
            }
        }

        .secondary {
            padding   : 24px 24px 0 0;
            width     : $--ytd-watch-flexy-sidebar-width;
            min-width : $--ytd-watch-flexy-sidebar-min-width;
            box-sizing: content-box;

            .grid_renderer {
                position: relative;

                .header {
                    .chat_container {
                        margin-bottom: 24px;

                        .chat {

                            .show_hide_button {
                                border       : 1px solid #E5E5E5;
                                border-radius: 50px;

                                &:hover {
                                    background-color: #E5E5E5;
                                }
                            }
                        }
                    }

                    .chips_bar {
                        position: relative;

                        .chips_wrapper {
                            .chips_content {
                                height: 50px;

                            }
                        }
                    }
                }

                .contents {
                    display        : flex;
                    flex-wrap      : wrap;
                    justify-content: flex-start;
                }
            }
        }
    }
}