.wrap_btn {
    display        : flex;
    justify-content: center;

    .btn {
        display    : inline-flex;
        align-items: center;
        padding    : 0 13px;
        cursor     : pointer;

        .btn_icon {
            .icon {
                margin-right: 6px;
                margin-left : -6px;
                text-align  : center;
            }
        }

        .text_content {
            line-height: 36px;

            .text {
                white-space: nowrap;
            }
        }
    }

}