@import 'normalize.css';
@import '../../styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary                         : #fe2c55;
    --black                           : #000;
    --white                           : #fff;
    --text-color                      : #333;
    --font-family                     : "Roboto", "Arial", sans-serif;
    //default layout
    --default-layout-header-height    : 60px;
    --default-layout-width            : 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family           : var(--font-family);
    -webkit-font-smoothing: antialiased;
    font-size             : 1.6rem;
    line-height           : 1.5;
    text-rendering        : optimizeSpeed;
    overflow-y            : overlay;
}

.main-container {
    width   : 100%;
    position: relative;
}

.ellipsis {
    display      : block;
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
}

.center-flex {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.yt-simple-endpoint {
    display        : inline-block;
    cursor         : pointer;
    text-decoration: none;
    color          : $--yt-spec-text-primary;
}

.normal_tooltip {
    background-color: #606060 !important;
    font-size       : 11px !important;
    font-weight     : 200 !important;
    padding         : 8px !important;
}

.modal-backdrop,
.modal {
    z-index: 2020;
}


// scroll bar
.scroll_bar {
    overflow       : auto;
    scrollbar-color: #606060;
    scrollbar-width: thin;
}

button,
input,
[tabindex] {
    outline: none;
    border : none;
}

a {
    color          : var(--text-color);
    text-decoration: none;
}

// // Fonts emmbedes
// @font-face {
//     font-family: TikTokFont;
//     src        : url('/assets/fonts/TikTokFont-Regular (1).woff2');
//     font-weight: 400;
// }

.cursor-pointer {
    cursor: pointer;
}

.bg-login-btn {
    &:hover {
        background-color: $--yt-bg-color-btn-login;
    }
}

// custom tippy
body {
    // overflow: hidden;

    .tippy-box {
        background-color: #616161;
        font-size       : 1.6rem;
        font-weight     : 600;
        border-radius   : 8px;
        line-height     : 2.2rem;
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-arrow {
        background-color: #616161;
    }
}

// slider
.slick-list {
    width     : calc(390px + 72px);
    height    : calc(100vh - $header-height) !important;
    overflow-y: hidden;
}

// modal
.modal-title.h4 {
    color      : $--yt-spec-text-primary;
    font-family: var(--font-family);
    font-size  : 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.close-button .btn-close {
    font-size: 18px;
}

.modal-700 .modal-dialog {
    max-width: 712px;
}

//bootstrap
.col-2-4 {
    flex     : 0 0 20%;
    max-width: 20%;
}

// spinner
.spinner-bottom {
    position: absolute;
    bottom  : 16px;
    left    : 0;
    right   : 0;
}

// progress bar
.progress {
    background-color: transparent;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
}

.progress-bar {
    background-color: transparent;
}