@import "../../../../styles/styles.scss";

.active {
    display: block !important;
}

.pr_0 {
    padding-right: 0 !important;
}

.pl_0 {
    padding-left: 0 !important;
}

.header {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 2020;
    height          : $header-height;
    padding         : 0 16px;
    background-color: white;

    .center {
        flex          : 0 1 732px;
        flex-direction: row;
    }


}