.wrap_btn {
    .btn {
        display    : flex;
        align-items: center;
        border     : 1px solid #E5E5E5;
        padding    : 0 13px;
        height     : 36px;

        .btn_icon {
            .icon {
                margin-right: 6px;
                margin-left : -6px;
                text-align  : center;
            }
        }

        .text_content {
            line-height: 36px;

            .text {
                white-space: nowrap;
            }
        }
    }

}