@import'../../styles/styles.scss';

.page_container {
    height         : calc(100vh - $header-height);
    overflow-y     : auto;
    scrollbar-width: thin;
    position       : relative;

    .shorts_container {
        .shorts_inner_container {
            .short_video_render {
                width  : 366px !important;
                height : 651px !important;
                margin : 24px 12px 0;
                padding: 0;

                .short_video_container {
                    position: relative;

                    .player_wrapper {
                        width        : 366px;
                        height       : 651px;
                        border-radius: 12px;
                        overflow     : hidden;
                    }
                }
            }
        }

        .prev_arrow,
        .next_arrow {
            position        : absolute;
            width           : 56px;
            height          : 56px;
            background-color: $--yt-spec-badge-chip-background;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            .icon_shap {
                .icon {
                    width : 24px;
                    height: 24px;
                }
            }
        }

        .prev_arrow {
            top  : 8px;
            right: 16px;
        }

        .next_arrow {
            bottom: 8px;
            right : 16px;
        }
    }
}