@import'../../styles/styles.scss';

.channel_icon_tooltips {
    background-color: #606060;
    font-size       : 11px;
    font-weight     : 200;
    padding         : 8px;
}

.page_container {
    .header {
        max-width: 1096px;
        margin   : 0 auto;

        .filter_button {
            display        : flex;
            justify-content: flex-end;

            .button_shape {
                padding      : 0 16px;
                height       : 36px;
                font-size    : 14px;
                line-height  : 36px;
                border-radius: 18px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .button_text {
                    color      : $--yt-spec-text-primary;
                    font-size  : 1.4rem;
                    line-height: 3.6rem;
                    font-weight: 500;
                }

                .icon_shape {
                    margin-left: 6px;
                    width      : 24px;
                    height     : 24px;
                }
            }
        }
    }

    .contents {
        max-width      : 1096px;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: flex-start;
        margin         : 0 auto;

        .list {
            .item {
                position     : relative;
                margin-left  : $--ytd-rich-grid-item-margin / 2;
                margin-right : $--ytd-rich-grid-item-margin / 2;
                margin-bottom: 16px;
                width        : calc(100% - $--ytd-rich-grid-item-margin - 0.01px);

                .content:hover .button_icon {
                    opacity: 1 !important;
                }

                .content {
                    align-items: flex-start;

                    &:hover .thumbnail_link {
                        border-radius: 0 !important;
                        transition   : border-radius ease-out 0.2s;
                    }

                    .grid_media {
                        margin        : 0;
                        display       : flex;
                        flex-direction: row;
                        align-items   : flex-start;
                        max-width     : var(--ytd-rich-grid-item-max-width);
                        position      : relative;

                        .thumbnail {
                            max-width   : 500px;
                            min-width   : 240px;
                            flex        : 1;
                            margin-right: 16px;

                            .thumbnail_link {
                                position       : relative;
                                margin-left    : auto;
                                margin-right   : auto;
                                overflow       : hidden;
                                display        : block;
                                border-radius  : 12px;
                                text-decoration: none;
                                color          : $--yt-spec-text-primary;
                                transition     : border-radius ease-in 0.1s;

                                .img {
                                    color: $--yt-spec-text-primary;

                                    img {
                                        background-color    : transparent;
                                        object-fit          : cover;
                                        visibility          : inherit;
                                        display             : inline-block;
                                        min-height          : 1px;
                                        min-width           : 1px;
                                        overflow-clip-margin: content-box;
                                        overflow            : clip;
                                    }
                                }

                                .overlays {
                                    display: block;

                                    .overlay_time {
                                        position      : absolute;
                                        bottom        : 0;
                                        right         : 0;
                                        margin        : 4px;
                                        display       : flex;
                                        flex-direction: row;

                                        .time_status {
                                            flex-direction  : row;
                                            align-items     : center;
                                            display         : inline-flex;
                                            background-color: $--yt-spec-static-overlay-background-heavy;
                                            padding         : 3px 4px;
                                            height          : 12px;
                                            border-radius   : 4px;
                                            font-size       : 1.2rem;
                                            font-weight     : 500;
                                            line-height     : 1.2rem;
                                            letter-spacing  : 0.5px;

                                            .text {
                                                max-height: 1.2rem;
                                                overflow  : hidden;
                                                color     : $--yt-spec-static-brand-white;
                                                background: transparent;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .details {
                            position      : relative;
                            flex          : 1;
                            display       : flex;
                            flex-direction: row;
                            width         : 50%;

                            .meta {
                                overflow-x   : hidden;
                                padding-right: 24px;

                                .video_name {
                                    color  : $--yt-spec-text-primary;
                                    display: flex;

                                    .video_title_link {
                                        .video_title {
                                            color      : $--yt-spec-text-primary;
                                            font-size  : 1.8rem;
                                            line-height: 2.6rem;
                                            font-weight: 400;
                                            max-height : 5.3rem;
                                        }
                                    }
                                }

                                .metadata_line {
                                    max-height: 4rem;

                                    .inline_metadata_item {
                                        color: $--yt-spec-text-secondary;
                                    }
                                }

                                .meta_block {
                                    .metadata {
                                        display       : flex;
                                        flex-direction: column;

                                        .byline_container {
                                            padding: 12px 0;

                                            .avatar_link {
                                                margin-right: 8px;

                                                .avatar {
                                                    background-color: $--yt-spec-10-percent-layer;
                                                }
                                            }

                                            .channel_name {
                                                color      : $--yt-spec-text-secondary;
                                                align-self : flex-start;
                                                font-size  : 1.2rem;
                                                line-height: 2.6rem;
                                                font-weight: 400;

                                                .text {
                                                    display: inline-block;

                                                    .channel_link {
                                                        &:hover {
                                                            color: $--yt-spec-text-primary;
                                                        }

                                                        color : $--yt-spec-text-secondary;
                                                    }
                                                }

                                                .channel_icon {
                                                    margin: 0 8px;

                                                    .icon_shape {
                                                        width : 14px;
                                                        height: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .menu {
                                position: relative;
                                height  : fit-content;

                                .button_icon {
                                    &.show {
                                        opacity: 1 !important;
                                    }

                                    background-color: transparent;
                                    width           : 40px;
                                    color           : $--yt-spec-icon-inactive;
                                    opacity         : 0;

                                    .icon_shape {
                                        width : 24px;
                                        height: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}