@import'../../../styles/styles.scss';

.options>*:last-child {
    padding-right: 0 !important;
}

.options {
    padding: 0 20px;

    .filter_group {
        padding      : 0;
        padding-right: 16px;

        .filter_group_name {
            color         : $--yt-spec-text-primary;
            border-bottom : 1px solid $--yt-spec-10-percent-layer;
            margin        : 5px 0;
            padding       : 15px 0;
            text-transform: uppercase;
            font-size     : 1.2rem;
            line-height   : 1.8rem;
            font-weight   : 500;
        }
    }

    .search_filter {
        padding    : 15px 0 0;
        font-family: var(--font-family);

        .text {
            &.active {
                color      : $--yt-spec-text-primary;
                font-weight: 500;
            }

            &.disable {
                pointer-events: none;
                color         : $--yt-spec-text-disabled;
            }
        }

        .text.active+.icon_shape {
            display: block;
        }

        .icon_shape {
            display    : none;
            width      : 16px;
            height     : 16px;
            margin-left: 10px;
        }
    }
}