@import '../../../styles/styles.scss';

.active {
    background-color: #f2f2f2;
}

.sidebar_mini.is_mini {
    display: none;
}

.sidebar_mini {
    position        : fixed;
    left            : 0;
    top             : $header-height;
    bottom          : 0;
    width           : $--sidebar-mini-width;
    display         : inline-block;
    background-color: $--yt-spec-base-background;
    z-index         : 2019;
    padding         : 0 4px;
    height          : calc(100vh - $header-height);

    .items {
        margin-top    : 4px;
        display       : flex;
        flex-direction: column;

        .item {
            border-radius: 10px;
            overflow     : hidden;

            &:hover {
                background-color: $--yt-spec-badge-chip-background;
            }

            .link {
                padding: 16px 0 14px;
                outline: 0;
                width  : 64px;
                color  : $--yt-spec-text-primary;

                .icon {
                    margin-bottom: 6px;

                    .icon_shape {
                        width : 24px;
                        height: 24px;
                    }
                }

                .text {
                    display    : block;
                    max-height : 1.4rem;
                    font-size  : 1rem;
                    font-weight: 400;
                    line-height: 1.4rem;
                }
            }
        }
    }
}