@import "../../../../../styles/styles.scss";

.active {
    display: block !important;
}

.pr_0 {
    padding-right: 0 !important;
}

.pl_0 {
    padding-left: 0 !important;
}

.form_control {
    border       : 1px solid #085ED4;
    border-radius: 40px 0 0 40px;
}

.show {
    display: block;
}

.search {
    height     : 40px;
    margin-left: 40px;

    .search_form {
        flex        : 1;
        padding-left: 40px;
        position    : relative;

        .container {
            border-right : none;
            border       : 1px solid #ccc;
            border-radius: 40px 0 0 40px;
            box-shadow   : inset 0 1px 2px #eee;
            padding-right: 0;
            padding-left : 16px;

            .search_icon {
                padding-right: 10px;
                display      : none;

                img {
                    width : 20px;
                    height: 20px;
                }
            }

            .search_input {
                .input_box {
                    .keyboard {
                        padding: 0 8px;
                    }

                    input {
                        flex            : 1;
                        background-color: transparent;
                        color           : inherit;
                    }
                }
            }

            .search_clear_button {
                display: none;

                .icon_shape {
                    &:hover {
                        background-color: #e5e5e5;
                    }

                    .icon {
                        width : 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    .search_btn {
        border          : 1px solid #d3d3d3;
        border-radius   : 0 40px 40px 0;
        border-left     : none;
        background-color: #f8f8f8;
        width           : 64px;

        .search_icon {
            img {
                width : 24px;
                height: 24px;
            }
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }

}

.voice_search {
    margin-left     : 12px;
    background-color: #f2f2f2;
    flex            : none;

    &:hover {
        background-color: #d9d9d9;
    }

    .icon {
        img {
            width : 24px;
            height: 24px;
        }
    }
}